// basic color
$dark-blue: #031b4e;
$grey-blue: #5b6987;
$ocean-blue: #0069ff;
$shalow-blue: #f2f8ff;
$input-border-color: #f1f1f1;
$hr-background-color: #e5e8ed;
$button-hover-color: $dark-blue;
$button-hover-border-color: rgba(0, 105, 255, .2);
$home-blue: #0248ff;
$grey-opacity: rgba(3, 27, 78, .7);
$turquoise: $grey-opacity;
$section-background-color: #f3f5f9;
$dropdown-item-hover-background-color: none;
$footer-background-color: #010e28;


// custom variables
$gap: 240px;
$box-padding: 32px;
$title-color: $dark-blue;
$title-size: 2.25rem;
$family-primary: Avenir Next;
$input-shadow: none;
$input-placeholder-color: $grey-blue;
$info: $ocean-blue;
$input-hover-border-color: none;
$hr-height: 1px;
$size-1: 4rem;
$dropdown-content-padding-top: 0;
$navbar-dropdown-radius: 0;
.container--small {
  max-width: 900px !important;
}

//$modal-z: 999;

// nav
$navbar-item-color: $dark-blue;
$navbar-item-hover-color: $ocean-blue;
$modal-card-head-border-bottom: none;
$modal-card-foot-border-top: none;


// modal
$modal-background-background-color: rgba(white, 0);
$modal-card-head-background-color: white;
$modal-card-head-padding: 0px;
$modal-card-head-border-bottom: 1px solid #e5e8ed;
$modal-card-foot-border-top: 1px solid #e5e8ed;
$modal-close-right: -30px;
$modal-close-top: 20px;

//menu
$menu-item-color: rgba(3, 27, 78, 0.7);
$menu-item-hover-color: $dark-blue;
$menu-item-hover-background-color: none;
$menu-item-active-color: $dark-blue;


// ====================custom styles====================

// ==================== navbar ====================
.NewNav-announcement-banner {
  font-size: 12px;
  color: $grey-blue;
}

.bui-u-mr--small {
  margin-right: -10px;
  margin-left: 20px;
  background-color: #00d7d2;
  border-radius: 5px;
  color: $dark-blue;
  cursor: default;
  display: inline-block;
  font-size: 9px;
  line-height: 1;
  padding: 4px 8px;
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}

.first-nav {
  height: 40px;
  padding-right: 30px;
  border-bottom: 1px solid $hr-background-color;
  border-bottom-color: rgb(229, 232, 237);
}

.navbar-brand {
  width: 100%;
  min-height: 0 !important;
}

.navbar {
  flex-wrap: wrap;
}

.navbar-tabs {
  min-height: 0;
}

.second-nav {
  width: 100%;
  padding: 6px 30px;
  box-shadow: 0px 1px 3px 0px rgba(75, 116, 148, 0.23);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(75, 116, 148, 0.23);
  -moz-box-shadow: 0px 1px 3px 0px rgba(75, 116, 148, 0.23);
}


.navbar svg {
  margin-top: 10px;
  fill: $ocean-blue;
  margin-right: 64px;
}

.NewNav-linkText a {
  line-height: normal;
  font-size: 12px;
  color: $grey-blue;
  border-bottom: none;
}

.UnifiedNav-linkText a {
  line-height: normal;
  font-size: 14px;
  color: #031b4e;
}

.UnifiedNav-linkText a:hover {
  color: $ocean-blue;
}

// ========================================  nav dropdown ========================================
.navbar-link {
  font-size: 14px;
}

.navbar-item.is-mega {
  position: static;
}

.navbar-dropdown span svg {
  margin: 0 5px;
  padding-top: 4px;
  width: 100%;
  height: 100%;
}

.navbar-dropdown a :hover {
  color: $ocean-blue !important;
}

.oc-dropdown-content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-dropdown .feature {
  font-size: 10px;
  letter-spacing: 2px;
  margin-left: 13px;
  padding-bottom: 10px;
}

.dropdown-left {
  border-right: 1px solid $hr-background-color;
  padding-bottom: 40px;
  padding-top: 40px;
}

.community-dropdown .container {
  padding: 12px 0;
}

//dropdown-left-community {
//
//  border-right: 1px solid $hr-background-color;
//  padding-bottom: 20px !important;
//  padding-top: 40px !important;
//}

.dropdown-right {
  padding-bottom: 20px !important;
  padding-top: 40px !important;
}

.navbar-dropdown .dropdown-left svg {
  width: 45px;
  height: 45px;
  margin-left: 5px;
  color: $ocean-blue;
}

.navbar-dropdown .dropdown-right svg {
  margin-left: 5px;
  margin-right: 0px;
  color: $ocean-blue;
}

.products_nav_list {
  padding-left: 34px;
  margin: 16px 0;
}

.products_nav_list li a {
  font-weight: 400;
  color: $grey-blue !important;
  line-height: 30px;
}

.products_nav_list li {
  height: 30px;
}

.navbar-dropdown .dropdown-left .dt1, .navbar-dropdown .dropdown-left .dt2 {
  font-size: 16px !important;
  letter-spacing: 1px;
}

.navbar-dropdown .dropdown-left .dt1 {
  margin-top: 10px;
}

.navbar-dropdown .products {
  padding-top: 20px;
  height: 60px;
  color: $ocean-blue !important;
}

.navbar-dropdown .products a {
  color: $ocean-blue !important;
  font-weight: 400 !important;
}


.navbar-dropdown .dropdown-left .dt2 {
  margin-top: 5px;
  color: $grey-blue;
  font-weight: 400;
}

// ======================================== mobile nav ========================================

.navbar-burger {
  color: hsla(0, 0%, 100%, .5) !important;
}

.modal {
  padding: 10px;
  justify-content: flex-start !important;
}

.modal-card-foot {
  padding: 30px 20px !important;
}

.modal ul {
  margin-top: 8px;
}

.modal li {
  margin-bottom: 7px;
  font-family: "Avenir Next";
  font-size: 18px;
  color: $ocean-blue;
}

.modal-card-title {
  padding: 23px 32px !important;
}

.modal-card-title li {
  //margin-bottom: 7px;
}

.modal-card-title svg {
  fill: $ocean-blue;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.modal-card-title a {
  font-weight: 500;
  margin-bottom: 17px;
  font-family: "Avenir Next";
  font-size: 20px;
  color: $dark-blue;
}


// ======================================== section 1 ========================================
.s1 {
  background-image: url("/img/bg-s1.jpg");
  //margin-top: 40px;
}

.s1-title {
  color: white !important;
}

.s1-subtitle {
  color: rgba(255, 255, 255, 0.8) !important;
  line-height: 1.5;
  font-size: 24px;
}

.signup-form input {
  height: 48px;
  font-size: 16px !important;
  padding: 0 16px !important;
}

.signup-form button {
  font-size: 16px !important;
  height: 48px;
  margin-bottom: 28px;
}

.signup-form h2 {
  font-size: 30px;
  color: $dark-blue;
  margin: 8px 0 32px;
}

.signup-form span {
  color: $grey-blue !important;
}

.signup-form .is-vcentered {
  height: 26px;
}

.signup-form .button {
  height: 48px;
  background-color: $shalow-blue;
  border: 1px solid rgba(0, 105, 255, .2);
  font-weight: bold;
  font-size: 16px !important;
}

.signup-form .button span {
  color: $dark-blue !important;
}

.signup-form img {
  width: 18px;
  height: 18px;
}

.signup-form .term {
  margin-top: 24px;
  font-size: 12px;
  color: rgba(3, 27, 78, .7);
}


.signup-form .term a {
  color: $ocean-blue;
  text-decoration: underline;
}

// ======================================== section 2 ========================================
.Home-logoList-item {
  margin: 0 20px;
}


.s2 {
  background-color: #f3f5f9;
}

.s2 h2 {
  letter-spacing: .05em;
  font-size: 14px;
  opacity: 0.4;
  color: $dark-blue;
}

.s2 {
  font-size: 16px;
}

.subtitle {
  font-size: 20px !important;
  color: rgba(3, 27, 78, .7) !important;
}

// ======================================== section 3 ========================================
.s3-menu {
  margin-top: 70px;
}

.s3-menu li {
  padding: 17px 10px 17px 30px;
  border-left: 2px solid #e5e8ed;
}

.s3-menu .is-active {
  //padding: 17px 10px 17px 30px;
  border-left: 2px solid $ocean-blue !important;
}

.s3-menu li a {
  padding: 0 !important;
}

.s3-menu svg {
  width: 41px !important;
  height: 41px !important;
  color: $ocean-blue;
}

.s3-menu .s3-title {
  font-size: 18px;
  color: $dark-blue;
  line-height: 1.25;
  font-weight: 500;
  margin: 8px 0 16px;
}

.s3-menu .menu-item {
  margin: 0 0 32px;
  padding: 16px 0 0 16px;
}

.s3-menu .is-active a {
  color: $dark-blue;
}

// ======================================== section 4 ========================================

.s4 {
  background-color: $section-background-color;
}

.s4 .slides_container {
  margin: 50px auto;
}

.slides {

  width: 836px;
  height: 578px;
  margin: 0 auto;

}

.slides img {
  width: 736px;
  height: 478px;
  margin: 0 auto;
}

.slides p {
  margin-top: 20px;
  font-size: 16px;
  color: $grey-blue;
}

.s4 .slick-dots li {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #0069ff;
  height: 10px;
  margin: 0 6px;
  opacity: 1;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  width: 10px;
}

.s4 .slick-dots .slick-active {
  background-color: $ocean-blue;
  opacity: 1;
}

.s4 .slick-dots button {
  display: none;
}

//.slick-arrow::before {
//  color: $grey-blue !important;
//}

// ======================================== footer ========================================
.footer li {
  margin-top: .5em;

}

.footer .footer_list {
  padding-top: 50px;
}

.footer li a {
  font-size: 14px;
  color: hsla(0, 0%, 100%, .5);
}


.footer li a:hover {
  color: white;
}

.footer hr {
  margin-top: 50px;
  height: 1px;
  background-color: $grey-blue;
}

.footer .footer_logo {
  width: 50px;
  height: 50px;
  color: $ocean-blue;
}

.footer .logo_text {
  position: relative;
  bottom: 20px;
  left: 15px;
  color: hsla(0, 0%, 100%, .5);
  font-size: 14px;
}

.footer .link svg {
  margin: 5px;
  width: 21px;
  height: 21px;
  color: hsla(0, 0%, 100%, .5);

}

.footer .link {
  margin-right: 20px;
}

.footer .link svg:hover {
  width: 21px;
  height: 21px;
  color: white;

}


// ======================================== media ========================================

@media screen and (max-width: 1023px) {
  .second-nav {
    padding: 27px 20px;
    background-color: $home-blue;
    box-shadow: none;
  }
  .is-fixed-top {
    position: relative !important;
  }
  html {
    padding-top: 0 !important;
  }
  .navbar svg {
    margin-top: 10px;
    fill: white;
    margin-right: 64px;
  }
}

@media screen and (max-width: 768px) {
  .s1 {
    background-color: $home-blue;
    background-image: none;
    box-shadow: none;
  }
  .s2 img {
    flex-wrap: wrap !important;
  }
}

@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

