<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<!--<html>-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to demo</title>
    <link rel="stylesheet" href="/css/mystyles.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <style type="text/css">
        .slick-arrow::before {
            color: #031b4e;
        }
    </style>
</head>
<body>
<div id="header"></div>
<div id="app"></div>

<!-- scripts and styles -->
{% style "/assets/material-icons/css/material-icons.min.css" %}
{% style "/css/screen.css" %}

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.slides').slick({
            dots: true,
            // dotsClass: "dots",
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    infinite: true
                }

            }, {

                breakpoint: 600,
                settings: {
                    dots: true,
                }

            }, {

                breakpoint: 300,
                settings: "unslick" // destroys slick

            }]
        });
    });
</script>
<script type="text/javascript">
    var csrfToken = "{{csrf-token}}";
    // $(".slider").slick({
    //     // normal options...
    //     infinite: false,
    //
    //     // the magic
    //     responsive: [{
    //         breakpoint: 1024,
    //         settings: {
    //             slidesToShow: 3,
    //             infinite: true
    //         }
    //
    //     }, {
    //
    //         breakpoint: 600,
    //         settings: {
    //             slidesToShow: 2,
    //             dots: true
    //         }
    //
    //     }, {
    //
    //         breakpoint: 300,
    //         settings: "unslick" // destroys slick
    //
    //     }]
    // });
</script>
{% script "/js/app.js" %}

</body>
</html>
